name: Terraform

on:
  push:
    branches: [ "main" ]
    paths:
      - "**/*.tf"
  workflow_dispatch:
  
permissions:
  id-token: write
  contents: read

jobs:
  plan-and-validate:
    runs-on: [ ubuntu-latest ]
    steps:
      - uses: actions/checkout@v4
      - uses: hashicorp/setup-terraform@v3
      - uses: actions/setup-node@v4
        with:
          node-version: 20
      
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::130900203380:role/tenzin-io.homelab-vault-config
          aws-region: us-east-1

      - name: Run Terraform Init
        run: terraform init
        
      - name: Run Terraform Format
        run: terraform fmt -check
        
      - name: Run Terraform Validate
        run: terraform validate

      - name: Run Terraform Plan
        env:
          VAULT_TOKEN: ${{ secrets.VAULT_ROOT_TOKEN }}
          TF_VAR_vault_admin_password: ${{ secrets.VAULT_ADMIN_PASSWORD }}
        run: terraform plan

  apply:
    needs: [plan-and-validate]
    runs-on: [ ubuntu-latest ]
    steps:
      - uses: actions/checkout@v4
      - uses: hashicorp/setup-terraform@v3
      - uses: actions/setup-node@v4
        with:
          node-version: 20
      
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::130900203380:role/tenzin-io.homelab-vault-config
          aws-region: us-east-1

      - name: Run Terraform Init
        run: terraform init
        
      - name: Run Terraform Apply
        env:
          VAULT_TOKEN: ${{ secrets.VAULT_ROOT_TOKEN }}
          TF_VAR_vault_admin_password: ${{ secrets.VAULT_ADMIN_PASSWORD }}
        run: terraform apply -auto-approve
